.input {
  font-size: 16px;
  font-size: max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: var(--color-bg-alt);
  border: 2px solid var(--color-bg-alt);
  border-radius: 4px;

  color:  var(--color-text);

  transition: 180ms box-shadow ease-in-out;
  box-shadow:  none;
}

.input:not(textarea) {
  line-height: 1;
  height: 2.25rem;
}

.input:focus {
  border-color: var(--color-accent);
  outline: 3px solid transparent;
  box-shadow: 0 0 0 3px var(--color-accent-fade);
}
