table {
  text-align: justify;
  width: 100%;
  border-collapse: collapse;
}

td, th {
  padding: 0.5em;
  width: 100%;
  border-bottom: 1px solid #f1f1f1;
}

.App-ItemTable {
}

.App-ItemTable td,
.App-ItemTable th{
  text-align: left;
}
