*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  /*font-size: 1.8rem;  18px */
  color: #4a4a4a;
}

:root {
  /*--color-text: #8b8b8b;*/
  --color-bg-alt:  #f1f1f1;
  --color-text: #4a4a4a;
  --color-text-dark: #120c0e;
  --color-accent:  #eb99a1;
  --color-accent-fade: #eb99a1aa;
  --color-accent-dark:  #e36e7a;
  --input-border: #8b8b8b;
  --input-focus-h: 245;
  --input-focus-s: 100%;
  --input-focus-l: 42%;
}


